/* #mainDiv {
    display: flex;
} */

/* .horizontalDiv {
    display: flex;
    flex-direction: column;

} */

/* .gridSquare {
    background-color: blueviolet;
    width: 1.42vmin;
    height: 1.42vmin;
} */

/* .hovered {
    background-color: chocolate;
} */