#mainDiv {
    display: flex;
}

.horizontalDiv {
    display: flex;
    flex-direction: column;
}

.gridSquare {
    background-color: blueviolet;
    width: 20px;
    height: 20px;
}

.hovered {
    background-color: chocolate;
}